<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624348188826-bros9tocqmso4bp6ih1r80ia5bi7v83o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624348188826-bros9tocqmso4bp6ih1r80ia5bi7v83o</string>
	<key>API_KEY</key>
	<string>AIzaSyDuICYbOfEyGasEEGMb1IusamFO_DM8LT4</string>
	<key>GCM_SENDER_ID</key>
	<string>624348188826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hanyalkahlout.Tawseel</string>
	<key>PROJECT_ID</key>
	<string>tawseeluserapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tawseeluserapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624348188826:ios:747bd75b9fff7fb8f74f23</string>
</dict>
</plist>